.fullscreen-background {
  background-image: url('./wea.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.Card {
  background-color: rgba(2, 2, 2, 0.356);   padding: 25px;
  border-radius: 10px;
}
.search-bar {
  border: 2px solid black;
  border-radius: 25px;
  padding: 8px 12px;
  font-size: 16px;
  color: black;
}

.search-bar::placeholder {
  color: rgb(0, 0, 0);
}


.image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.info{
  color: white;
}
